.twitter-tweet-rendered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.widget-booklist img {
    display: block;
    margin-left: auto;
	margin-right: auto 
}

span.spoilers {
	cursor: pointer;
}

span.spoiler-alert {
	color: red;
}

span.spoiler-text {
	background-color: black;
}

span.spoiler-text.spoiler-show {
	background-color: white;
}

article figure {
	text-align: center;
}

details {
	margin-bottom: 0.75em;
}